.error-body {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error-header {
  background-color: #282c34;
}

.img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5%;
  overflow: hidden;
  width: 80%;
  height: 60%;
}

.img-404 {
  height: 100%;
  border-radius: 5%;
}

a {
  color: #61dafb;
}
